@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
  margin: 0;
  background-color: #659DBD;
}

.title-contain {
  padding: 27px 0 15px 0;
  background-color: #ACE894;
  color: #36311F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  font-family: 'Solitreo', cursive;
  font-size: 32px;
  letter-spacing: 0.35rem;
}

.body-contain {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.entry-contain {
  width: 50%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry-contain img {
  width: 90%;
  height: 60%;
  border: 5px dashed #AE8E1C;
}

.entry-text {
  width: 90%;
  height: 40%;
  position: relative;
  color: #36311F;
}

.entry-text h4 {
  font-family: 'Merriweather Sans', sans-serif;
  position: absolute;
  top: 0;
}

.entry-text p {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 1px;
}

.shorten-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: absolute;
  top: 20%;
}

.entry-text a {
  text-decoration: none;
  font-weight: bold;
  font-family: 'Merriweather Sans', sans-serif;
  letter-spacing: 1.8px;
  font-size: 13px;
  color: #36311F;
  background-color: rgba(174, 142, 28, .5); 
  padding: 1px;
  position: absolute;
  top: 65%;
}

@media (max-width: 768px) {

  .entry-contain {
    width: 100%;
  }
}