@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

body {
  margin: 0;
  background-color: #659DBD;
}

.title-contain {
  padding: 27px 0 15px 0;
  background-color: #ACE894;
  color: #36311F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  font-family: 'Solitreo', cursive;
  font-size: 32px;
  letter-spacing: 0.35rem;
}
